<div class="sidenav">
  <div class="ds-brand">
    <a href=""><img src="http://dashboard.oupsupport.com/images/dashboard-logo_2.png" alt="brand"></a>
    <!--Dashboard-->
  </div>
  <span class="white-space">

  </span>
  <ul class="ds-buttons">
    <sidenav-button-component icon="fa fa-home" title="Home"></sidenav-button-component>
    <sidenav-button-component icon="fa fa-calculator" title="Calculadora"></sidenav-button-component>
    <sidenav-button-component icon="fa fa-calendar" title="Agendamentos"></sidenav-button-component>

    <!--<li>&lt;!&ndash;<span class="ds-on-hover"></span>&ndash;&gt;<a href=""><span class="fa fa-calculator ds-icon"></span> Calculadora</a></li>
    <li><a href=""><span class="fa fa-calendar ds-icon"></span> Agendamentos</a></li>-->
  </ul>

  <div class="user-pane">
    <div>
      <img src="https://news.artnet.com/app/news-upload/2015/10/mapplethorpe-featured-256x256.jpg" alt="User image" class="user-img">
    </div>
    <span class="user-name">
      Otávio Augusto
    </span>

  </div>

</div>
